In [24]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
city_weather_data = "data/cities.csv"

# Read School and Student Data File and store into Pandas Data Frames
city_weather_df = pd.read_csv(city_weather_data)

city_weather_df.head()

,Record No.,City,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Country
0,0,hasaki,69.80,94,75,3.36,35.73,JP
1,1,hofn,42.23,78,49,10.11,64.25,IS
2,2,kapaa,81.00,83,8,3.36,22.08,US
3,3,avarua,69.80,64,25,18.34,-21.21,CK
4,4,meulaboh,82.73,76,100,8.68,4.14,ID

In [26]:
city_weather_df = pd.DataFrame.set_index(city_weather_df,'Record No.')
city_weather_df

,City,Max Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Country
Record No.,,,,,,,
0,hasaki,69.80,94,75,3.36,35.73,JP
1,hofn,42.23,78,49,10.11,64.25,IS
2,kapaa,81.00,83,8,3.36,22.08,US
3,avarua,69.80,64,25,18.34,-21.21,CK
4,meulaboh,82.73,76,100,8.68,4.14,ID
5,xaltianguis,87.80,74,90,5.82,17.10,MX
6,libertador general san martin,75.89,26,100,4.52,-23.81,AR
7,sola,69.95,48,0,4.65,-3.17,TZ
8,rikitea,69.59,74,100,21.83,-23.12,PF
9,huarmey,63.65,90,84,16.62,-10.07,PE
10,vaini,77.69,85,100,3.83,15.34,IN
11,yellowknife,51.80,81,75,13.87,62.45,CA
12,severo-kurilsk,42.23,95,100,6.67,50.68,RU
13,tuktoyaktuk,48.20,81,75,17.22,69.44,CA
16,baykit,66.53,80,100,7.85,61.68,RU
17,imbituba,59.00,93,75,3.36,-28.24,BR
18,bredasdorp,64.40,55,97,18.34,-34.53,ZA
19,alofi,73.40,73,49,11.41,-19.06,NU
21,atuona,79.85,77,6,12.46,-9.80,PF
22,limpapa,75.20,94,90,6.93,7.12,PH
23,san quintin,76.43,86,100,5.70,17.54,PH
24,punta arenas,37.40,74,20,8.05,-53.16,CL
25,high level,62.60,51,75,21.92,58.52,CA
26,ushuaia,33.80,89,40,20.80,-54.81,AR
27,touros,80.60,78,75,9.17,-5.20,BR
28,mataura,46.00,86,100,1.99,-46.19,NZ
29,castro,48.20,76,75,5.82,-42.48,CL
30,aksarka,71.03,57,10,10.94,66.56,RU
31,quatre cocos,71.60,68,40,11.41,-20.21,MU
33,fairbanks,64.00,72,90,1.92,64.84,US
...,...,...,...,...,...,...,...
585,mitzic,73.01,85,64,2.35,0.78,GA
586,damara,82.40,83,20,2.24,4.96,CF
587,sale,45.00,91,55,3.40,-38.11,AU
588,baicheng,64.00,74,42,1.01,45.61,CN
589,halifax,66.99,77,90,11.41,44.65,CA
590,guipavas,64.99,55,0,13.87,48.43,FR
592,sigli,74.99,74,95,4.50,5.38,ID
593,bandarbeyla,84.53,52,2,23.67,9.49,SO
594,quetigny,82.40,28,0,12.75,47.31,FR
595,barao de melgaco,96.80,23,0,13.87,-16.19,BR
596,payo,67.61,97,40,2.75,-3.75,ID
597,marawi,73.99,91,100,5.01,8.00,PH
598,egvekinot,47.99,77,98,5.95,66.32,RU
599,cabo san lucas,96.01,65,5,8.05,22.89,MX
600,lavrentiya,43.13,96,100,4.81,65.58,RU
601,abeche,89.03,43,0,7.40,13.83,TD
602,dalbandin,83.27,43,27,9.78,28.90,PK
603,marfino,66.00,77,40,11.18,56.07,RU
604,hervey bay,57.99,87,40,5.82,-25.30,AU
605,usoke,71.57,41,0,3.96,-5.09,TZ
606,leh,35.21,46,0,5.50,34.16,IN
607,lamar,84.20,37,1,5.82,38.09,US
608,lucea,88.00,74,20,10.29,18.44,JM
609,diego de almagro,62.75,46,2,11.16,-26.39,CL
611,vila franca do campo,71.60,83,40,14.99,37.72,PT
612,byron bay,57.99,100,90,4.12,-28.65,AU
614,klaksvik,50.00,71,63,17.22,62.23,FO
616,adeje,79.31,83,99,9.37,5.68,NG
617,juneau,64.40,72,20,9.17,58.30,US
618,nortelandia,91.73,25,0,9.75,-14.45,BR

In [28]:
# https://stackoverflow.com/questions/50807744/apply-css-class-to-pandas-dataframe-using-to-html/50939211
# Pandas' to_html simply outputs a large string containing HTML table markup. 
# The classes argument is a convenience handler to give the <table> a class 
# attribute that will be referenced in a previously created CSS document that 
# styles it. Therefore, incorporate to_html into a wider HTML document build 
# that references an external CSS.
# Interestingly, to_html adds dual classes <table class="dataframe mystyle"> 
# which can be referenced in CSS individually, .dataframe {...} .mystyle{...}, 
# or together .dataframe.mystyle {...}

pd.set_option('colheader_justify', 'center')   # FOR TABLE <th>

html_string = '''
<html>
  <head><title>HTML Pandas Dataframe with CSS</title></head>
  <link rel="stylesheet" type="text/css" href="df_style.css"/>
  <body>
    {table}
  </body>
</html>.
'''

# OUTPUT AN HTML FILE
with open('data/city_weather.html', 'w') as f:
    f.write(html_string.format(table=city_weather_df.to_html(classes='mystyle')))